/* Global Styles */
header .brand-logo {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
}

/* Homepage Styles */
#homepage #splash {
    background-color: #f3f3f3;
    margin: 0;
    padding: 2em 0;
}

#homepage #splash .card .card-title {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
    font-size: 60;
}

#homepage footer.page-footer {
    margin: 0;
    padding: 0;
}
