/* Global Styles */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

header .brand-logo {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
}

footer.page-footer {
    margin-top: 1em;
}

footer .social .social-icon {
    font-size: 24px;
    vertical-align: middle;
}

header + section {
    padding-top: 2em;
}

.row.images {
    margin-bottom: 0;
}

/* Homepage Styles */
#homepage #splash {
    background-color: #f3f3f3;
    margin: 0;
    padding: 2em 0;
}

#homepage footer.page-footer {
    margin-top: 0;
}

#homepage #splash .card .card-title {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
    font-size: 60px;
}

#homepage #splash .card + .btn-floating.right {
    position: relative;
    top: -45px;
    margin-right: 20px;
}

/* Message Form */
#message-form .row.buttons {
    margin-top: 20px;
}

#message-form ul.keybase-results li .row {
    margin: 0;
}

#message-form ul.keybase-results li .row > .col:first-child {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

/* Message Detail */
#message-detail .card-action .social-icon {
    font-size: 24px;
    vertical-align: middle;
}

#message-detail #help h4 {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
}

#message-detail #help .terminal {
    padding: 5px;
}

/* About */
#about h3 {
    font-family: pacifico, "helvetica", "arial", sans-serif;
}

/* 404 page */
#error-404 .main {
    background: url('../img/3240021792_3b8b8e8f94_b.jpg') 0 100% no-repeat;
    background-size: cover;
}

#error-404 #splash {
    padding:
}

#error-404 h1 {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
}

#error-404 footer.page-footer {
    margin-top: 0;
}

