/* Global Styles */
header .brand-logo {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
}

footer.page-footer {
    margin: 0;
}

/* Homepage Styles */
#homepage #splash {
    background-color: #f3f3f3;
    margin: 0;
    padding: 2em 0;
}

#homepage #splash .card .card-title {
    font-family: pacifico, "Helvetica", "Arial", sans-serif;
    font-size: 60;
}

/* Message Form */
#message-form form {
    padding: 2em 0 1em;
}

#message-form .row.images {
    margin-bottom: 0;
}

#message-form .row.buttons {
    margin-top: 20px;
}

#message-form ul.keybase-results li .row {
    margin-bottom: 0;
}

#message-form ul.keybase-results li .row > .col:first-child {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

/* Message Detail */
#message-detail #message {
    padding-top: 2em;
}
