{% extends 'base.html' %}

{% load staticfiles %}

{% block body-id %}about{% endblock %}

{% block nav-items %}
    {% with nav_about=True %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
<section id="about-us" class="container">
    <h3>About This Site</h3>
    <div class="row">
        <div class="col s12">
            <p>My name is <a class="pink-text" href="http://mlavin.org">Mark Lavin</a> and I created this
            site because I wanted to find some sort of use for my Keybase account. I am not affillidated
            with Keybase in any way. I just have a general interest in making
            public key crypto more publicly accessible. A silly site like this
            one seemed like a good way to do that.</p>
            <p>The messages stored for this site are encrypted on the client and can't be read
            by the server. We only store the message and the selected image. No additional information
            about the person sending or receiving the message is stored beyond the metadata
            which is generated in the GPG message. This site does not include any third-party
            scripts or tracking/analytics tools.</p>
            <p>I'm verified as <a href="https://keybase.io/mlavin" class="pink-text">mlavin</a>
            on Keybase if want to track or message me.</p>
        </div>
    </div>
</section>
<section id="donate" class="container center">
    <h3><span class="pink-text">&#10084;</span> Show Some Love <span class="pink-text">&#10084;</span></h3>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <p>If you find this site useful or entertaining in any way, a small donation would
            help to keep the servers running.</p>
            <a class="btn pink white-text" href="https://www.paypal.me/mlavin">Donate via PayPal</a>
            <a class="btn light-blue white-text" href="https://www.coinbase.com/mlavin">Donate via Coinbase</a>
        </div>
    </div>
</section>
<section id="image-credits" class="container">
    <h3>Credits</h3>
    <div class="row">
        <div class="col s12">
            Material design icons by <a class="pink-text" href="http://google.github.io/material-design-icons/">Google</a>.
            Social icons font from <a class="pink-text" href="http://www.socicon.com">socicon</a>.
            Homepage image by <a class="pink-text" href="https://www.flickr.com/photos/flossyflotsam/">flossyflotsam</a>
            with <a class="pink-text" href="http://creativecommons.org/licenses/by/2.0/">some rights reserved</a>.
            404 image by <a class="pink-text" href="https://www.flickr.com/photos/laurenprofeta">laurenprofeta</a>
            with <a class="pink-text" href="http://creativecommons.org/licenses/by/2.0/">some rights reserved</a>.
        </div>
    </div>
    {% for row in images %}
    <div class="row images">
        {% for name, url in row %}
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ url }}" alt="{{ name }}">
                    </div>
                    <div class="card-content">
                         <a class="pink-text" href="http://creativecommons.org/licenses/by/2.0/">Some rights reserved</a> by
                        <a class="pink-text" href="http://flickr.com/photos/{{ name }}/">{{ name }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
{% endblock %}
