{% extends 'base.html' %}

{% block body-id %}message-form{% endblock %}

{% block content %}
<div class="row">
    <form action='' method='post' class="col s12 m8 offset-m2">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">search</i>
                <input placeholder="Find user on Keybase.io" id="first_name" type="text" class="validate">
                <label for="first_name">Recipient</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea id="{{ form.messsage.id }}" class="materialize-textarea" name="{{ form.message.name"></textarea>
                <label for="{{ form.message.id }}">Message</label>
            </div>
        </div>
        {% for row in images %}
        <div class="row images">
            {% for name, url in row %}
                <div class="col s12 m6 l3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ url }}" alt="{{ name }}">
                        </div>
                        <div class="card-action">
                            <a class="pink-text" href="#">Select</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="row buttons">
            <a class="waves-effect waves-light-blue btn-flat disabled right">Save</a>
            <a class="waves-effect waves-pink light-blue-text btn-flat right">Encrypt</a>
        </div>
    </form>
</div>
{% endblock %}
