{% extends "base.html" %}

{% load staticfiles %}

{% block extra-meta %}
<!-- Open Graph Tags for Facebook -->
<meta property="og:title" content="Adorably Secure Messages from Secret Cards" >
<meta property="og:type" content="article" >
<meta property="og:image" content="{{ full_original_url }}" >
<meta property="og:url" content="{{ full_url }}" >
<meta property="og:description" content="Someone has generated an encrypted message in this cat picture. Maybe it's for you!" >
<!-- Twitter Card tags -->
<meta name="twitter:card" content="summary_large_image" >
<meta name="twitter:site" content="@secret_cards" >
<meta name="twitter:title" content="Adorably Secure Messages from Secret Cards" >
<meta name="twitter:description" content="Someone has generated an encrypted message in this cat picture. Maybe it's for you!" >
<meta name="twitter:image" content="{{ full_original_url }}" >
{% endblock %}

{% block body-id %}message-detail{% endblock %}

{% block content %}
<section id="message">
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <div class="card">
                <div class="card-image">
                    <img src="{{ message.get_image_url }}">
                </div>
                <div class="card-action">
                    <a class="pink-text" href="{{ message.get_download_url }}">Download</a>
                    <span class="right">
                        {% with share_url=full_url|iriencode share_text="A secret message for you" %}
                        <a class="pink-text" target="_blank" title="Tweet this message"
                            href="https://twitter.com/share?url={{ share_url }}&amp;text={{ share_text }} on @secret_cards">
                            <span class="social-icon">a</span>
                        </a>
                        <a class="pink-text" target="_blank" title="Share this messsage on Facebook"
                            href="http://www.facebook.com/sharer.php?u={{ share_url }}&amp;t={{ share_text }} on Secret Cards">
                            <span class="social-icon">b</span>
                        </a>
                        <a class="pink-text" target="_blank" title="Share this message on G+"
                            href="https://plusone.google.com/_/+1/confirm?hl=en&url={{ share_url }}">
                            <span class="social-icon">c</span>
                        </a>
                        {% endwith %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="help">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h4>Sending the Message</h4>
            Your message has been created now you need to send it. You can download
            the message image and send it email or you can share in through a social
            media channel. Don't worry; while others see the adorable image, only
            the selected user can read the message inside.
            <p><a class="btn pink right" href="{% url 'add-message' %}">New Message</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h4>Receiving the Message</h4>
            Decrypting this message requires having the private key so it can only be
            read by its intended recipient. If this message
            was encrypted for you then you can decrypt it using your Keybase account.
            Download the message and extract it as a zip to reveal the message saved
            as a .asc file inside. Below is an example using the popular
            <a class="pink-text" href="http://curl.haxx.se/">curl</a> utility to fetch the image.
            <pre class="black white-text terminal">
$ curl -o {{ message.slug }}.zip {{ full_image_url }}
$ unzip {{ message.slug }}.zip
$ keybase decrypt {{ message.slug }}.asc</pre>
            If you don't have a Keybase account then this message is definitely not
            for you.
        </div>
    </div>
</section>
<section id="donate" class="center grey lighten-3">
    <div class="row">
        <div class="col s12">
            <p>
                For your privacy and security, this site does not use ads. Consider
                <a href="{% url 'about' %}" class="pink-text">donating a small amount</a>
                to keep it running.
            </p>
        </div>
    </div>
</section>
{% endblock %}
