{% extends 'base.html' %}

{% load staticfiles %}

{% block body-id %}homepage{% endblock %}

{% block content %}
<section id="splash">
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-image">
                    <img src="{% static 'img/6675794393_bea8255341_o.jpg' %}">
                    <span class="card-title pink-text">adorably secure messages</span>
                </div>
                <div class="card-content">
            Send encrypted messages to <a href="https://keybase.io">Keybase</a> users embedded in
            cat picutures.
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
